html, body{
	background-color: #DCD0C0;
}

body, h1, p, a {
  font-family: "Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: 373737;
}

body{
	padding: 15px;
}

* {
	box-sizing: border-box;
}

[class*="col-"] {
    width:				100%;
	float:				left;
	padding:			10px;
	background-color:	#C0B283;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
	content:	"";
	clear:		both;
	display:	table;
}

div.pl{
	position:	absolute;
	left:		-9999px;
	width:		0px;
	height:		0px;
}

div img.meme {
	max-width: 100%;
	display: block;
}

div img.meme:hover{
	position: relative;
	top: 100%;
	-webkit-transform:scale(2);
	-moz-transform:scale(2);
	-ms-transform:scale(2);
	-o-transform:scale(2);
	transform:scale(2);
}

a {
	color: #373737;
	text-decoration: none;
}

a.current {
	color:			#F4F4F4;
	pointer-events:	none;
}

a[class*="standAlone"]:hover{
	color:			#F4F4F4;
	font-weight:	bold;
}

a:hover div[class*="col-"], a:hover div[class*="firm-"] {
	background-color:	#F4F4F4;
	color:				#373737;
	font-weight:		bold;
	
	-webkit-transform:	scale(1.2);
	-moz-transform:		scale(1.2);
	-ms-transform:		scale(1.2);
	-o-transform:		scale(1.2);
	transform:			scale(1.2);
}

div[class*="white"]{
	background-color: #F4F4F4;
}

div[class*="black"]{
	background-color: #373737;
}

div[class*="gray"]{
	background-color:	#DCD0C0;
}